include LICENCE.txt
include .coveragerc
include .editorconfig
include tox.ini
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml

prune examples
prune experimental

recursive-include docs *.rst
include docs/conf.py
include docs/Makefile
exclude docs/autodoc-requirements.txt
prune docs/_build

recursive-include script_tests *.py
recursive-include unit_tests *.py
