name: Tests

on:
  push:
  pull_request:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.9', '3.8', '3.7', '3.6', '3.5' ]
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: PIP cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-python${{ matrix.python-version }}-${{ hashFiles('setup.cfg') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: |
        tox

    # only 3.6 is run with codecov
    - if: ${{ matrix.python-version == '3.6' }}
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
