name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "34 22 * * SUN"  # run weekly
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.12', '3.11', '3.10', '3.9', '3.8', '3.7' ]
        runs-on: ['ubuntu-latest']
        include:
        - runs-on: 'ubuntu-20.04'
          python-version: '3.6'
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: PIP cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-python${{ matrix.python-version }}-${{ hashFiles('setup.cfg') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: |
        tox

    # Code coverage is run on Python 3.10, see tox.ini
    - if: ${{ matrix.python-version == '3.10' }}
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
